html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #121212;
  color: white;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

a {
  color: #9945FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
} 